:root {
    --standard-padding: 2rem;
    --primary-color: white;
    --accent-color: #ddd;
    --heading-font: "Inter", Arial, sans-serif;
    --paragraph-font: "Inter", Arial, sans-serif;
    --heading-font-size: 1rem;
    --paragraph-font-size: 0.9rem;
    --property-image-size: 300px;
    --placeholder-background-color: #e4e4e4;
    --anchor-color: rgb(42, 108, 214);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--heading-font);
    font-size: var(--heading-font);
}

header {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    padding-left: 50px;
    padding-bottom: 10px;
    background-color: var(--primary-color);
    z-index: 10;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem;
    padding-top: 180px;
    gap: 50px;
}

p {
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-size);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.logo h1 {
    text-align: center;
}

.search-bar-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
}

.search-bar-container .search-bar {
    width: 80%;
    height: 40px;
    border-radius: 40px;
    padding-left: 40px;
    background-color: #1a090d;
    color: white;
    border: 2px solid #faae34;
}

.search-bar-container .suggested-results {
    margin-top: 10px;
    width: 80%;
    text-align: left;
}

.search-bar-container .suggested-results ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    border: 1px solid black;
    border-radius: 40px;
    padding: 20px 40px;
    width: 99%;
    background-color: wheat;
}

.search-bar-container .suggested-results ul li {
    cursor: pointer;
    line-height: 1.5;
}

.search-bar-container .suggested-results ul li:hover {
    background-color: var(--accent-color);
}

.filter-property-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.filters-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 300px;
    padding-top: 80px;
    gap: 50px;
}

.order-by-price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.price-range-slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.price-range-slider-container input[type="range"] {
    width: 200px;
    margin: 0;
}

.price-range-slider-container datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: sideways-lr;
    width: 200px;
}

.price-range-slider-container datalist option {
    transform: rotate(45deg);
    font-size: 0.8rem;
    padding: 0;
}

.properties-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    width: 100%;
    margin-left: 320px;
}

.placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    height: 330px;
    gap: 10px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.loading-dot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    gap: 20px;
}

.loading-dot {
    width: 10px;
    height: 10px;
    background-color: rgb(150, 150, 150);
    border-radius: 50%;
}

@keyframes growShrink {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}

.dot-1 {
    animation-duration: 0.8s;
    animation-name: growShrink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.dot-2 {
    animation-duration: 0.8s;
    animation-name: growShrink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0.3s;
}
.dot-3 {
    animation-duration: 0.8s;
    animation-name: growShrink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0.4s;
}

.placeholder-text-container {
    height: 63px;
    background-color: #eaeaea;
    border-radius: 10px;
}

.property {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    height: 330px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.property:hover {
    transform: scale(1.05);
}

.property-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--property-image-size);
    height: var(--property-image-size);
    border-radius: 10px;
    background-color: var(--placeholder-background-color);
    border: none;
    overflow: hidden;
}

.property-image img {
    object-fit: cover;
    transition: 0s;
}

.property:hover .property-image img {
    transition: 5s;
    scale: 1.05;
    transform: translate(5px);
}

.property-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    width: 300px;
    padding: 10px 20px;
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    gap: 10px;
}

.pagination-container button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    appearance: none;
    border-radius: 0;
    text-align: inherit;
    margin: 0;
    min-width: 15px;
}

.pagination-container button:hover {
    border-bottom: 1px solid var(--anchor-color);
}

.pagination-container button h3 {
    text-align: center;
    color: var(--anchor-color);
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
    width: 100vw;
    padding: var(--standard-padding);
    border-top: 1px solid black;
}
